<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="garden" href="/tabs/garden">
      <ion-icon name="color-fill-outline"></ion-icon>
      <ion-label>Garden</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="homepage" href="/tabs/homepage">
      <ion-icon name="home"></ion-icon>
      <ion-label>Homepage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan" href="/tabs/scan">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>QR Code</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
