<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/logos/farmtech.png" alt="FarmTech Logo" class="logo">
      FarmTech - Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Logo image -->
  <img src="../../assets/logos/farmtech.png" alt="FarmTech Logo"
    style="max-width: 100%; height: auto; margin: 20px auto; display: block;">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Homepage</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>